<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="infoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">WitRuby Demo</h4>
      </div>
      <div class="modal-body">
        <p>Made to demonstrate capabilities <%= link_to("Wit.AI", "https://wit.ai") %> and the <%= link_to("WitRuby gem", "https://rubygems.org/gems/wit_ruby") %></p>
        <p> Huge props to the wizards at Wit.AI for making this natrual language interface. Go thank them here on twitter: </p>
        <h2><%= link_to("@WitNL", "https://twitter.com/WitNL") %></h2>
        <p>This was more of a learning experience for me and definitely the code is smelly for the gem, so please contribute and help me make this gem as best it can be!</p>
        <h2><%= link_to("WitRuby Gem Github Repo", "https://github.com/gching/wit_ruby") %></h2>
        <h2><%= link_to("WitRuby Rails Demo Github Repo", "https://github.com/gching/WitRuby-Rails-Demo")%></h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
