<!DOCTYPE html>
<html>
<head>
  <title>WitRailsDemo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <%= render "shared/popoverform" %>
      </div>
      <div class="pad-plz">
        <a title="Info" data-toggle="modal" class="btn btn-success pull-right" href="#info">Info</a>
      </div>
    </div>
  </div>



  <div id="wrapper">
    <%= yield %>
  </div>




  <%= render "shared/help" %>
  <%= render "shared/info" %>

  <%= javascript_include_tag "application"%>
  <script>
    $().ready(function() {
      $('#wrapper').tubular({videoId: '<%= @link || 'DquLatW0lTQ'%>', mute: false});
    });
  </script>
</body>
</html>
